body {
    font-family: Arial, sans-serif;
    background-color: #e0ffe0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #00cc00;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 400px;
}

h1 {
    color: #008000;
    font-size: 1.5em;
}

#balance-container {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#clicker-container {
    margin: 10px 0;
}

#clicker {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.1s;
}

#clicker:active {
    transform: scale(0.95);
}




#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.tab-content {
    display: none;
    transition: opacity 0.3s ease-in-out; /* Плавное появление/исчезание контента */
}

.tab-content.active {
    display: block;
    opacity: 1;
}


#upgrade-container, #friends-container, #stats-container {
    margin: 10px 0;
}

#upgrade-container button {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 8px;
    font-size: 0.8em; /* Уменьшено значение */
    color: #ffffff;
    background-color: #00cc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#upgrade-container button:hover {
    background-color: #008000;
}

#friends-container, #stats-container {
    font-size: 1.2em;
    color: #008000;
}

#league-container {
    margin-top: 10px;
}

#league-progress {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

#league-bar {
    width: 0%;
    height: 100%;
    background-color: #00cc00;
    transition: width 0.2s;
}

#league {
    font-size: 1em;
    color: #008000;
}

#tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
    background: #00cc00;
}

.tab {
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    background-color: #00cc00;
    color: #ffffff;
    border: none;
    transition: background-color 0.2s;
    font-size: 0.8em; /* Уменьшено значение */
    text-align: center;
    position: relative;
}

.tab:hover {
    background-color: #008000;
}

.tab.active {
    background-color: #006600;
}

.click-value {
    position: absolute;
    font-size: 20px;
    color: #333333;
    animation: fadeout 1s forwards;
    pointer-events: none;
}

.crit-click {
    color: red;
}

@keyframes fadeout {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-50px); }
}
